<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9f5d218a-611f-464d-b78b-0d72b535d2e5/resourceGroups/DM106_final_fredlaranjo/providers/Microsoft.Web/sites/dm106finalfredlaranjo</ResourceId>
    <ResourceGroup>DM106_final_fredlaranjo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dm106finalfredlaranjo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dm106finalfredlaranjo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dm106finalfredlaranjo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dm106finalfredlaranjo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DM106_final.Models.ApplicationDbContext, DM106_final" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DM106_final_Private_Context" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DM106_final.Models.DM106_final_Private_Context, DM106_final" MigrationConfiguration="DM106_final.Migrations.Configuration, DM106_final" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106_final_Private_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finaldbserver-fredlaranjo.database.windows.net,1433;Initial Catalog=dm106_final_db;User ID=administrador;Password=DM106fredlaranjo</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>